<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./../assets/css/style.css">
    </head>
    <body>
        <h1 >{{pageTitle}}</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium, impedit architecto odit harum magni a fugiat, perspiciatis maxime voluptatibus corporis ad laborum ab. Modi dicta numquam tempora, nostrum ducimus eligendi?</p>

        <input type="text" id="example">
        <button id="action">Klik</button>
        <p id="text"></p>


        <script src="./../js/func.js"></script>
    </body>
</html>
