<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./../assets/css/style.css">
    </head>
    <body>
        <h1 >strona</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium, impedit architecto odit harum magni a fugiat, perspiciatis maxime voluptatibus corporis ad laborum ab. Modi dicta numquam tempora, nostrum ducimus eligendi?</p>



    </body>
</html>
